.icon-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  opacity: 0.6;
}

.icon-row__icon:hover {
  opacity: 1;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
  text-align: center;
}
